<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="database" type="Database" connectionString="Server=tcp:cookaiapproval.database.windows.net,1433;Initial Catalog=cookaiapprovaldb;Persist Security Info=False;User ID=cookaiadmin;Password=ixora@123#!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <commandText> insert into ExceptionLog ([TimeStamp],[Level],Logger, [Message], UserId, Exception, StackTrace) values (@TimeStamp, @Level, @Logger, @Message, case when len(@UserID) = 0 then null else @UserId end, @Exception, @StackTrace); </commandText>
        <parameter name="@TimeStamp" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@UserId" layout="${mdc:user_id}" />
        <parameter name="@Exception" layout="${exception}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
        <dbProvider>System.Data.SqlClient</dbProvider>
      </target>
    </targets>

  </nlog>
  <appSettings>
    <add key="WebBaseUrl" value="https://cookaiapproval.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MicrosoftAppId" value="42db52a3-f501-4620-a2e5-3f12a3289930"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MicrosoftAppPassword" value="w~5cDoKUCiik3_yI5Hf_.t28EpO1Iol9yR" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADRedirectUrl" value="https://cookaiapproval.azurewebsites.net/signinend" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADClientID" value="08a6285a-b9f7-4ec9-957b-f427546bc3b7"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADClientSecret" value="4P8GP.G5EY_1cYPkeG3..4szcOY5foq_9M"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cookaiapprovalstorage;AccountKey=vqkUj/92rW/DNUuO8n1qo/PUAPAD2stnOMekuWrr1RoF3Rn2Bq+EyGkVJn2935GBHWmwsNFx2mtG49JQsuWLug==;EndpointSuffix=core.windows.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TeamAppId" value="f036cef7-8b1e-44ca-8276-7792adc67bbb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <add name="CookaiApprovalDB"
         connectionString="metadata=res://*/DbContext.CookaiDB.csdl|res://*/DbContext.CookaiDB.ssdl|res://*/DbContext.CookaiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:cookaiapproval.database.windows.net,1433;Initial Catalog=cookaiapprovaldb;Persist Security Info=False;User ID=cookaiadmin;Password=ixora@123#!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
  </connectionStrings>


</configuration>
