<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cookaiapproval.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cookaiapproval.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cookaiapproval</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cookaiapproval</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CookaiApprovalDB" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=CookaiApprovalDB;User ID=sa;Password=Pass@123;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=CookaiApprovalDB;User ID=sa;Password=Pass@123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JUPITER\MSSQLSERVER12;Initial Catalog=CookaiApprovalDB;User ID=sa;Password=Pass@123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CookaiApprovalDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DbContext.CookaiDB.csdl|res://*/DbContext.CookaiDB.ssdl|res://*/DbContext.CookaiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUPITER\MSSQLSERVER12;initial catalog=CookaiApprovalDB;uid=sa;pwd=Pass@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CookaiApprovalDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/DbContext.CookaiDB.csdl|res://*/DbContext.CookaiDB.ssdl|res://*/DbContext.CookaiDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=CookaiApprovalDB;User ID=sa;Password=Pass@123;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>